@charset "UTF-8";
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Light"), local("Gilroy-Light"), url("../../fonts/Gilroylight.woff2") format("woff2"), url("../../fonts/Gilroylight.woff") format("woff"), url("../../fonts/Gilroylight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"), url("../../fonts/Gilroyextrabold.woff2") format("woff2"), url("../../fonts/Gilroyextrabold.woff") format("woff"), url("../../fonts/Gilroyextrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
body {
  font-family: Gilroy, -apple-system, BlinkMacSystemFont, avenir next, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  background-color: #272d3d;
  color: #ffffff;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
}

/* Создание контейнера ----------- */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 330px) {
  .container {
    width: 330px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1000px) {
  .container {
    width: 1000px;
  }
}

/* Личный нормализатор -------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  padding: 0;
  color: var(--title-color);
}

p {
  margin-top: 0;
}

a {
  display: block;
  text-decoration: none;
  font-style: normal;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Зброс зазора */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.icon {
  display: inline-block;
  fill: currentColor;
  width: 100%;
  height: 100%;
  fill: aqua;
}

.feedback {
  position: relative;
  padding-top: 30px;
}

.overlay-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 400px;
  background-image: url(../../images/left.png);
  background-repeat: no-repeat;
  background-position: left;
}

.overlay-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 790px;
  height: 750px;
  background-image: url(../../images/right.png);
  background-repeat: no-repeat;
  background-position: right;
  z-index: -1;
}

.wapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 90px;
}

.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px 20px;
  border-radius: 10px;
  background-color: #303a53;
  min-width: 141px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
}

.button::before {
  content: "";
  width: 13px;
  height: 14px;
  margin-right: 10px;
}

.button-1::before {
  background-image: url(../../images/calendar.png);
  background-size: contain;
}

.button-2::before {
  background-image: url(../../images/time.png);
  background-size: contain;
}

.frontend-decor {
  margin-left: auto;
  margin-right: auto;
}

.wapper-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.content {
  max-width: 426px;
}

.content-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  padding: 3px 10px;
  border-radius: 5px;
  background-color: #4252d1;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}

.content-link::before {
  content: "";
  width: 15px;
  height: 15px;
  margin-right: 8px;
  background-image: url(../../images/gg_time.png);
  background-size: contain;
}

.content-title {
  font-weight: 800;
  font-size: 77px;
  text-transform: uppercase;
  color: #ff3459;
  margin-top: -10px;
  margin-bottom: 0;
}

.position {
  position: relative;
}

.content-text-span {
  padding: 10px;
  border-radius: 5px;
  text-transform: uppercase;
  margin-right: 20px;
  font-size: 24px;
  line-height: 1.16;
  font-weight: 600;
}

.content-text-span-2 {
  position: absolute;
  width: 106px;
  height: 40px;
  border-radius: 5px;
  left: 0;
  top: -25%;
  background-color: #ff3459;
  -webkit-transform: rotate(176deg);
          transform: rotate(176deg);
  z-index: -1;
}

.content-text {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.18;
  margin-bottom: 28px;
}

.content-description {
  font-weight: 500;
  font-size: 18px;
  max-width: 419px;
  line-height: 1.5;
  margin-bottom: 45px;
}

.gray {
  color: #d7d7d7;
  font-weight: 400;
}

.blue {
  color: #4252d1;
}

.red {
  color: #ff3459;
}

.wapper-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.wapper-name {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.23;
  margin-bottom: 0;
}

.none {
  text-transform: none;
}

.wapper-text-1 {
  font-size: 12px;
  line-height: 1.6;
}

.wapper-text-2 {
  font-size: 12px;
  line-height: 1.5;
  max-width: 214px;
}

.form {
  position: relative;
  padding: 40px;
  border-radius: 10px;
  background-color: #303a53;
  text-align: center;
}

.form-title {
  font-weight: 700;
  max-width: 245px;
  text-align: center;
  font-size: 22px;
  line-height: 1.2;
}

.form-input {
  padding: 10px 20px;
  width: 100%;
  height: 51px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #272d3d;
  border: none;
}

.form-input::-webkit-input-placeholder {
  color: #d7d7d7;
}

.form-input::-moz-placeholder {
  color: #d7d7d7;
}

.form-input:-ms-input-placeholder {
  color: #d7d7d7;
}

.form-input::-ms-input-placeholder {
  color: #d7d7d7;
}

.form-input::placeholder {
  color: #d7d7d7;
}

.btn-submit {
  font-weight: 700;
  font-size: 15px;
  line-height: 1.6;
  width: 100%;
  padding: 15px 0;
  color: #ffffff;
  background-color: #ff3459;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
}

.form-text {
  color: #d7d7d7;
  font-weight: 500;
  margin-bottom: 0;
}

.form-link {
  color: #d7d7d7;
  font-weight: 500;
  text-decoration: underline;
}

.position-icons {
  position: absolute;
  top: 30%;
  right: 6%;
  width: 142px;
}

.html {
  margin-left: auto;
}

.js {
  margin-left: auto;
}

.vscode {
  margin-left: auto;
}

.list-item:nth-child(1)::before {
  position: absolute;
  top: 17px;
  right: -9px;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ff3459;
}

.list-item:nth-child(2)::before {
  position: absolute;
  top: 82px;
  right: 87px;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #0048ff;
}

.list-item:nth-child(3)::before {
  position: absolute;
  top: 170px;
  right: -12px;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #f0be25;
}

.list-item:nth-child(4)::before {
  position: absolute;
  top: 212px;
  right: 90px;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ff9800;
}

.list-item:nth-child(5)::before {
  position: absolute;
  top: 327px;
  right: -8px;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #48aef3;
}/*# sourceMappingURL=main.css.map */