$basic-system-font:
  Gilroy,
  -apple-system,
  BlinkMacSystemFont,
  avenir next,
  segoe ui,
  helvetica neue,
  helvetica,
  Cantarell,
  Ubuntu,
  roboto,
  noto,
  arial,
  sans-serif;

$accent-color: #ff3459;
$white-text-color: #ffffff;
$grey-text-color: #d7d7d7;
$blue-color: #4252d1;
$bg-color: #272d3d;
$btn-mobile: #0048ff;
$stroke: #303a53;
