.feedback {
  position: relative;
  padding-top: 30px;
}

.overlay-left {
  @media screen and (min-width: $tablet) {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 400px;
    background-image: url(../../images/left.png);
    background-repeat: no-repeat;
    background-position: left;
    // opacity: 50%;
  }
}

.overlay-right {
  @media screen and (min-width: $tablet) {
    position: absolute;
    top: 0;
    right: 0;
    width: 790px;
    height: 750px;
    // background: url(../../images/right.png) no-repeat right;
    background-image: url(../../images/right.png);
    background-repeat: no-repeat;
    background-position: right;
    z-index: -1;
  }
}

.overlay-botton {
  @media screen and (max-width: $tablet) {
    position: absolute;
    bottom: 0;
    left: 50%;
    // width: 330px;
    width: 100%;
    height: 100%;
    // height: 510px;
    background-image: url(../../images/bottom.png);
    background-repeat: no-repeat;
    background-position: bottom;
    // opacity: 50%;
    z-index: -1;

    transform: translate(-50%);
  }
}

.wapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 90px;

  @media screen and (max-width: $tablet) {
    margin-bottom: 45px;
  }
}

.logo {
  @media screen and (max-width: $tablet) {
    width: 89px;
    height: 32px;
  }
}

.right {
  display: flex;
  gap: 10px;

  @media screen and (min-width: $tablet) {
    gap: 20px;
  }
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: $stroke;
  color: $white-text-color;
  font-weight: 500;
  line-height: 1;

  @media screen and (max-width: $tablet) {
    width: 88px;
    font-size: 9px;
    padding: 5px;
    line-height: 0.8;
  }

  @media screen and (min-width: $tablet) {
    padding: 13px 20px;
    min-width: 141px;

    font-size: 14px;
  }
}

.button::before {
  content: "";
  width: 13px;
  height: 14px;
  margin-right: 10px;
}

.button-1::before {
  background-image: url(../../images/calendar.png);
  background-size: contain;
}

.button-2::before {
  background-image: url(../../images/time.png);
  background-size: contain;
}

.frontend-decor {
  margin-left: auto;
  margin-right: auto;
}

.wapper-bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  gap: 30px;

  @media screen and (max-width: $tablet) {
    flex-direction: column;
  }
}

.content {
  max-width: 426px;
  @media screen and (max-width: $tablet) {
    text-align: center;
  }
}

.content-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  // @extend .button;
  color: $white-text-color;
  padding: 3px 10px;

  border-radius: 5px;
  background-color: $blue-color;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;

  @media screen and (max-width: $tablet) {
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: 500;
  }
}

.order {
  @media screen and (max-width: $tablet) {
    display: flex;
    flex-direction: column-reverse;
    order: 0;
  }
}

.content-link::before {
  content: "";
  width: 15px;
  height: 15px;
  margin-right: 8px;
  background-image: url(../../images/gg_time.png);
  background-size: contain;
}

.content-title {
  font-weight: 800;
  line-height: 1.23;

  text-transform: uppercase;
  color: $accent-color;
  margin-top: -10px;

  @media screen and (max-width: $tablet) {
    font-size: 50px;
    margin-bottom: 4px;
  }

  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    font-size: 70px;
    margin-bottom: 0;
  }
  @media screen and (min-width: $desktop) {
    font-size: 77px;
    margin-bottom: 0;
  }
}

.position {
  position: relative;
}

.content-text-span {
  padding: 10px;
  border-radius: 5px;
  text-transform: uppercase;
  margin-right: 20px;
  font-size: 24px;
  line-height: 1.16;
  font-weight: 600;

  @media screen and (max-width: $tablet) {
    font-size: 16px;
  }
}

.content-text-span-2 {
  position: absolute;
  width: 106px;
  height: 40px;
  border-radius: 5px;
  left: 0;
  top: -25%;
  background-color: $accent-color;
  transform: rotate(176deg);
  z-index: -1;

  @media screen and (max-width: $tablet) {
    width: 80px;
    height: 30px;
    left: 12px;
    top: -30%;
  }
}

.content-text {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.18;
  margin-bottom: 28px;

  @media screen and (max-width: $tablet) {
    font-size: 13px;
  }

  @media screen and (min-width: $tablet) {
    font-size: 20px;
  }
}

.content-description {
  font-weight: 500;
  font-size: 18px;
  max-width: 419px;
  line-height: 1.5;
  margin-bottom: 45px;

  @media screen and (max-width: $tablet) {
    max-width: 328px;
    font-size: 13px;
    line-height: 1.42;
  }
}

.gray {
  color: $gray-text-color;
  font-weight: 400;
}

.blue {
  color: $blue-color;
}

.red {
  color: $accent-color;
}

.wapper-flex {
  display: flex;
  align-items: center;
  gap: 20px;

  @media screen and (max-width: $tablet) {
    justify-content: center;
    margin-bottom: 5px;
  }
}

.wapper-text {
  align-items: start;
  align-items: flex-start;
}

.wapper-name {
  text-transform: uppercase;

  font-weight: 700;
  font-size: 13px;
  line-height: 1.23;
  margin-bottom: 0;
}

.none {
  text-transform: none;
}

.wapper-text-1 {
  font-size: 12px;
  line-height: 1.6;
  max-width: 307px;

  @media screen and (max-width: $tablet) {
    width: 162px;
  }
}

.wapper-text-2 {
  font-size: 12px;
  line-height: 1.5;
  max-width: 272px;
  @media screen and (max-width: $tablet) {
    width: 162px;
  }
}

.form {
  position: relative;
  padding: 40px;
  border-radius: 10px;
  background-color: $stroke;
  text-align: center;
  max-width: 366px;

  @media screen and (max-width: $tablet) {
    // width: 328px;
    padding: 40px 24px;
  }
}

.form-title {
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  max-width: 265px;
  text-align: center;
  font-size: 22px;
  line-height: 1.2;

  @media screen and (max-width: $tablet) {
    margin-left: auto;
    margin-right: auto;
    width: 216px;
    font-size: 18px;
  }
}

.form-input {
  font-size: 17px;
  // display: block;
  padding: 10px 20px;
  width: 100%;
  height: 51px;
  border-radius: 5px;
  // margin-bottom: 10px;
  background-color: $bg-color;
  border: none;
  color: $white-text-color;
  // font-size: 17px;
}

.form-input::placeholder {
  color: #d7d7d7;
}

.btn-submit {
  font-weight: 700;
  font-size: 15px;
  line-height: 1.6;
  width: 100%;
  padding: 15px 0;
  color: $white-text-color;
  background-color: $accent-color;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;

  @media screen and (max-width: $tablet) {
    font-size: 14px;
    background-color: $btn-mobile;
  }
}

.form-text {
  color: $gray-text-color;
  font-weight: 500;
  margin-bottom: 0;

  @media screen and (max-width: $tablet) {
    font-size: 11px;
  }
}

.form-link {
  color: $gray-text-color;
  font-weight: 500;
  text-decoration: underline;

  @media screen and (max-width: $tablet) {
    font-size: 11px;
  }
}

.position-icons {
  display: none;
  @media screen and (min-width: 1420px) {
    display: block;
    position: absolute;
    top: 30%;
    right: 6%;
    width: 142px;
  }
}

.html {
  margin-left: auto;
}

.js {
  margin-left: auto;
}

.vscode {
  margin-left: auto;
}

.list-item:nth-child(1)::before {
  position: absolute;
  top: 17px;
  right: -9px;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: $accent-color;
}

.list-item:nth-child(2)::before {
  position: absolute;
  top: 82px;
  right: 87px;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: $btn-mobile;
}

.list-item:nth-child(3)::before {
  position: absolute;
  top: 170px;
  right: -12px;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #f0be25;
}

.list-item:nth-child(4)::before {
  position: absolute;
  top: 212px;
  right: 90px;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ff9800;
}

.list-item:nth-child(5)::before {
  position: absolute;
  top: 327px;
  right: -8px;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #48aef3;
}

.input-select {
  position: relative;
}

.select {
  position: absolute;
  top: 25%;
  left: 33px;
  transform: translate(-25%);

  // @media screen and (max-width: $tablet) {
  //   top: 25%;
  //   left: 33px;

  //   transform: translate(-25%);
  // }
}

select#size {
  border: none;
  font-size: 17px;
  color: $white-text-color;
  background-color: $bg-color;
}

.form-input-2 {
  padding-left: 90px;
}

.form-input.active {
  border: 1px solid $accent-color;
}

// .form-input.active {
//   border: 1px solid $accent-color;
// }

.input-name-text {
  color: $accent-color;
}

// .input-text {
//   margin: 0;
// }
